n8n-workflow-with-crawler.json
{
  "nodes": [
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "Joshua-Wilcox",
          "mode": "list",
          "cachedResultName": "Joshua-Wilcox",
          "cachedResultUrl": "https://github.com/Joshua-Wilcox"
        },
        "repository": {
          "__rl": true,
          "value": "university",
          "mode": "list",
          "cachedResultName": "university",
          "cachedResultUrl": "https://github.com/Joshua-Wilcox/university"
        },
        "events": [
          "push"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -6048,
        -1232
      ],
      "id": "c5d57d2b-7bd5-49f9-b934-a80a94103142",
      "name": "Github Trigger",
      "webhookId": "333dc2ef-d6d4-4f0c-9e75-e705014fb4c7",
      "credentials": {
        "githubApi": {
          "id": "mNhv3H6SbHRLz0uz",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -6048,
        -1800
      ],
      "id": "crawler-schedule-trigger",
      "name": "Crawl Schedule (Daily)"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/Joshua-Wilcox/university/git/trees/main?recursive=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5824,
        -1800
      ],
      "id": "crawler-get-repo-tree",
      "name": "Get Repo Tree (Recursive)",
      "credentials": {
        "githubApi": {
          "id": "mNhv3H6SbHRLz0uz",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "tree",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -5600,
        -1800
      ],
      "id": "crawler-split-tree",
      "name": "Split Tree Entries"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "filter-tex-files",
              "leftValue": "={{ $json.path }}",
              "rightValue": ".tex",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            },
            {
              "id": "filter-blobs-only",
              "leftValue": "={{ $json.type }}",
              "rightValue": "blob",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -5376,
        -1800
      ],
      "id": "crawler-filter-tex",
      "name": "Filter .tex Files"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "pdfs",
        "returnAll": true,
        "matchType": "allFilters"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -5376,
        -1600
      ],
      "id": "crawler-get-all-pdfs",
      "name": "Get All Uploaded PDFs",
      "credentials": {
        "supabaseApi": {
          "id": "NhHQBrahxXIQ218o",
          "name": "Flashcards Supabase"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -5152,
        -1800
      ],
      "id": "crawler-merge-data",
      "name": "Wait for Both"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Get .tex file paths from the first input (Filter .tex Files)\nconst texFiles = $('Filter .tex Files').all().map(item => item.json.path);\n\n// Get all uploaded PDF filenames from Supabase\nconst uploadedPdfs = $('Get All Uploaded PDFs').all().map(item => item.json.original_filename);\n\n// For each .tex file, check if its corresponding .pdf has been uploaded\n// The PDF filename is the basename of the path with .tex replaced by .pdf\nconst missingFiles = [];\n\nfor (const texPath of texFiles) {\n  // Convert path: \"semester2/AI/lecture1.tex\" -> \"lecture1.pdf\"\n  const pdfFilename = texPath.split('/').pop().replace('.tex', '.pdf');\n  \n  // Check if this PDF exists in the uploaded PDFs\n  const isUploaded = uploadedPdfs.some(uploaded => uploaded === pdfFilename);\n  \n  if (!isUploaded) {\n    missingFiles.push({ json: { filenames: texPath } });\n  }\n}\n\nif (missingFiles.length === 0) {\n  return [{ json: { filenames: '__NONE__', empty: true } }];\n}\n\nreturn missingFiles;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4928,
        -1800
      ],
      "id": "crawler-find-missing",
      "name": "Find .tex Without Uploaded PDF"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "not-empty",
              "leftValue": "={{ $json.empty }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4704,
        -1800
      ],
      "id": "crawler-if-has-missing",
      "name": "Any Missing?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('System Prompt').item.json['System Prompt'] }}\n\n{{ $('Merge1').item.json.patch ?? $('text from github file').item.json.data }}\n\nModule Topics:\n{{ $('Module Topics').item.json.data }}",
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1888,
        -1232
      ],
      "id": "4ef3c598-979a-4f68-a720-1cf1913b674a",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-9b-v2:free",
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1752,
        -1008
      ],
      "id": "6fe24973-b6f9-4bd2-bcc8-73c880083c04",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Ii7iGuZ3g18Jh9qa",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "Joshua-Wilcox",
          "mode": "list",
          "cachedResultName": "Joshua-Wilcox",
          "cachedResultUrl": "https://github.com/Joshua-Wilcox"
        },
        "repository": {
          "__rl": true,
          "value": "university",
          "mode": "list",
          "cachedResultName": "university",
          "cachedResultUrl": "https://github.com/Joshua-Wilcox/university"
        },
        "filePath": "={{ $('Split Out').item.json.filenames }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -4704,
        -1232
      ],
      "id": "eb9c20d2-2a51-4a30-bae6-d693cd0c9ca2",
      "name": "Get a file",
      "webhookId": "885acc43-f23f-4d5f-92bd-929a4b4e9393",
      "credentials": {
        "githubApi": {
          "id": "mNhv3H6SbHRLz0uz",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4ab33564-34d5-4540-8bb8-c576949c5db1",
              "leftValue": "={{ $('text from github file').item.json.data }}",
              "rightValue": "% Would you like to AI Generate Flashcards for this (y/n): y",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3808,
        -1232
      ],
      "id": "b0f39a16-ed1c-4133-9a18-bf3cc588e81a",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://flashcards.josh.software/api/ingest_flashcards",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Similarity-Threshold",
              "value": "0.8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.extracted_code }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1088,
        -536
      ],
      "id": "d29b084c-b8f0-4db9-8d87-659536e42891",
      "name": "HTTP Request",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "jhXYYmYml3iu5xAW",
          "name": "Bearer Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6ad6d201-85e8-4215-92d5-4f45206521b3",
              "leftValue": "=",
              "rightValue": "[empty]",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1536,
        -1232
      ],
      "id": "9113fa07-857e-4fd8-966b-9f9ac289ff8f",
      "name": "If2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e30c3892-90c5-46af-8bb6-1e3ee5816b70",
              "name": "filenames",
              "value": "={{ [...$json.body.head_commit.added, ...$json.body.head_commit.modified] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5824,
        -1232
      ],
      "id": "c0b1ae6d-c3b7-4550-934c-f3df82e2842a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "filenames",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -5600,
        -1232
      ],
      "id": "3b8f24f6-043b-46d6-8ca7-a05812fa5aae",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://flashcards.josh.software/api/check_duplicates",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "={{ $json.submitted_question }}"
            },
            {
              "name": "module",
              "value": "={{ $json.module }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -288,
        -1232
      ],
      "id": "15a1f1ba-ddd0-4131-921b-f9f9dfe7598a",
      "name": "Get potential duplicates",
      "credentials": {
        "httpBearerAuth": {
          "id": "jhXYYmYml3iu5xAW",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $('New Flashcard Prompt').item.json.Prompt }}",
        "categories": {
          "categories": [
            {
              "category": "accept",
              "description": "Assign this category if the new flashcard is **unique** and of **high quality**. This means it is not a semantic duplicate of any potential matches provided and its content is clear, accurate, and valuable."
            },
            {
              "category": "reject",
              "description": "Assign this category if the new flashcard is a **semantic duplicate** of any of the potential matches, OR if its content is **low-quality** (nonsensical, trivial, or factually incorrect). Following the critical directive, if you are in any doubt, you **must** classify it as a reject."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "## ROLE\nYou are a Quality Assurance auditor for an academic flashcard system. You are the final gatekeeper, and your primary function is to be strict in order to prevent duplicates and maintain high-quality content.\n\n## CRITICAL DIRECTIVE\nYour main goal is to eliminate redundancy. If a new question is asking for the same information as an existing one, even with different wording, it MUST be rejected. **When in doubt, lean towards rejecting.**\n\n## ANALYSIS PROCESS\n\n1.  **Analyze the New Card**: Briefly state the core concept or question being asked in the new flashcard.\n2.  **Compare Against Duplicates**: Go through the `Potential Duplicates` list. For each one, compare its question to the new card's core concept. Explicitly state if they are semantically identical.\n4.  **Make a Final Decision**: Based on your analysis, state your final decision: `REJECT` or `ACCEPT`.\n\n## EXAMPLE OF A CORRECT REJECTION\n-   **New Question**: \"In problem-solving, what defines a 'problem'?\"\n-   **Potential Duplicate**: \"From an AI perspective, what defines a 'problem'?\"\n-   **Correct Analysis**: These two questions are asking for the exact same definition. The phrase \"In problem-solving\" vs. \"From an AI perspective\" does not change the fundamental request. This is a clear duplicate.\n-   **Correct Decision**: REJECT.\n",
          "batching": {
            "batchSize": 5,
            "delayBetweenBatches": 65000
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        512,
        -1232
      ],
      "id": "05f95605-86a0-4836-9149-eb4e01024318",
      "name": "Text Classifier",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://flashcards.josh.software/api/approve_flashcard",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "submission_id",
              "value": "={{ $('Get submitted flashcards').item.json.id }}"
            },
            {
              "name": "question",
              "value": "={{ $('Get submitted flashcards').item.json.submitted_question }}"
            },
            {
              "name": "answer",
              "value": "={{ $('Get submitted flashcards').item.json.submitted_answer }}"
            },
            {
              "name": "module",
              "value": "={{ $('Get submitted flashcards').item.json.module }}"
            },
            {
              "name": "topic",
              "value": "={{ $('Get submitted flashcards').item.json.submitted_topic }}"
            },
            {
              "name": "subtopic",
              "value": "={{ $('Get submitted flashcards').item.json.submitted_subtopic }}"
            },
            {
              "name": "tags",
              "value": "={{ $('Get submitted flashcards').item.json.submitted_tags_comma_separated.split() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        -1304
      ],
      "id": "c895241f-173d-40e7-93c0-373c255c42c9",
      "name": "Accept Flashcard",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "jhXYYmYml3iu5xAW",
          "name": "Bearer Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://flashcards.josh.software/api/reject_flashcard",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "submission_id",
              "value": "={{ $('Get submitted flashcards').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        -1112
      ],
      "id": "48fcae52-9de0-4cb0-9eab-5ab6227f504c",
      "name": "Reject Flashcard",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "jhXYYmYml3iu5xAW",
          "name": "Bearer Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03180631-2fa6-4701-937e-585a48820cdc",
              "name": "Potential Duplicates",
              "value": "={{ $json.duplicates.map(dup => ({ question: dup.question, answer: dup.answer })) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        -1232
      ],
      "id": "6708e13f-b484-4b1d-8bf7-405ede4027e5",
      "name": "Strip Duplicates"
    },
    {
      "parameters": {
        "jsCode": "function extractJson(text) {\n  if (typeof text !== 'string') return null;\n\n  const fenced = text.match(/(?:```|''')\\w*\\s*([\\s\\S]*?)(?:```|''')/);\n  const candidate = fenced ? fenced[1] : text;\n\n  const jsonMatch = candidate.match(/[\\[{][\\s\\S]*[\\]}]/);\n  if (!jsonMatch) return null;\n\n  try {\n    return JSON.parse(jsonMatch[0]);\n  } catch (e) {\n    return null;\n  }\n}\n\nfor (const item of items) {\n  item.json.extracted_code = extractJson(item.json.output);\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        -1232
      ],
      "id": "6325ed9e-be1a-44c0-a129-96d990ecb4d1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1088,
        800
      ],
      "id": "294c81d8-30e3-4f74-ad5e-038770399199",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "Joshua-Wilcox",
          "mode": "list",
          "cachedResultName": "Joshua-Wilcox",
          "cachedResultUrl": "https://github.com/Joshua-Wilcox"
        },
        "repository": {
          "__rl": true,
          "value": "university",
          "mode": "list",
          "cachedResultName": "university",
          "cachedResultUrl": "https://github.com/Joshua-Wilcox/university"
        },
        "filePath": "={{ $('Split Out').item.json.filenames.replaceAll('.tex','.pdf') }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -800,
        -1616
      ],
      "id": "3ed2c2e6-b6ea-4071-9704-ff6a6b1f80a5",
      "name": "GetGithubPDF",
      "webhookId": "885acc43-f23f-4d5f-92bd-929a4b4e9393",
      "credentials": {
        "githubApi": {
          "id": "mNhv3H6SbHRLz0uz",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4ab33564-34d5-4540-8bb8-c576949c5db1",
              "leftValue": "={{ $json.filenames }}",
              "rightValue": ".tex",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5376,
        -1232
      ],
      "id": "e14ebeba-cf30-4511-a96c-7176b20b344c",
      "name": "IfEndsWithTex"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -288,
        -1616
      ],
      "id": "118ad276-002f-4ab5-8262-84e564688388",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "try {\n    let flashcards = $('Loop Over Items2').item.json.extracted_code;\n    \n    if (typeof flashcards === 'string') {\n        flashcards = JSON.parse(flashcards);\n    }\n    \n    if (!Array.isArray(flashcards) || flashcards.length === 0) {\n        return [{ json: { error: \"No valid flashcards found\" } }];\n    }\n    \n    const moduleSet = new Set();\n    const topicSet = new Set();\n    const subtopicSet = new Set();\n    const tagSet = new Set();\n    \n    flashcards.forEach(card => {\n        const module = card.Module || card.module;\n        const topic = card.Topic || card.topic;\n        const subtopic = card[\"Sub-Topic\"] || card[\"Sub Topic\"] || card.subtopic || card.Subtopic;\n        const tags = card.Tags || card.tags;\n        \n        if (module && typeof module === 'string') {\n            moduleSet.add(module.trim());\n        }\n        \n        if (topic && typeof topic === 'string') {\n            topicSet.add(topic.trim());\n        }\n        \n        if (subtopic && typeof subtopic === 'string') {\n            subtopicSet.add(subtopic.trim());\n        }\n        \n        if (tags && Array.isArray(tags)) {\n            tags.forEach(tag => {\n                if (tag && typeof tag === 'string') {\n                    tagSet.add(tag.trim().toLowerCase());\n                }\n            });\n        }\n    });\n    \n    return [{\n        json: {\n            module_name: Array.from(moduleSet)[0] || \"\",\n            topic_names: Array.from(topicSet).join(','),\n            subtopic_names: Array.from(subtopicSet).join(','),\n            tag_names: Array.from(tagSet).join(',')\n        }\n    }];\n    \n} catch (error) {\n    return [{ json: { error: `Failed: ${error.message}` } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        -1520
      ],
      "id": "ac0f3e5b-f31c-4193-9646-7bd903c5f49a",
      "name": "GetAllGeneratedTags"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -64,
        -1616
      ],
      "id": "edbd8e8d-557e-4d4a-9a93-c6316c923a73",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "submitted_flashcards",
        "returnAll": true,
        "matchType": "allFilters"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -800,
        -920
      ],
      "id": "0aa90f9a-5591-45f2-b580-642d787f085a",
      "name": "Get submitted flashcards",
      "credentials": {
        "supabaseApi": {
          "id": "NhHQBrahxXIQ218o",
          "name": "Flashcards Supabase"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -512,
        -920
      ],
      "id": "cdc6ba26-adba-4e09-876b-c2f8a40ebcf3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "submitted_distractors",
        "returnAll": true,
        "matchType": "allFilters"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -800,
        -440
      ],
      "id": "c856015b-28ac-4cb8-a460-deb7d1ea6439",
      "name": "Get submitted Distractors",
      "credentials": {
        "supabaseApi": {
          "id": "NhHQBrahxXIQ218o",
          "name": "Flashcards Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "reported_questions",
        "returnAll": true,
        "matchType": "allFilters"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -800,
        -104
      ],
      "id": "9c4028a1-63ac-41dc-b302-c3449020ef48",
      "name": "Get submitted Distractors1",
      "credentials": {
        "supabaseApi": {
          "id": "NhHQBrahxXIQ218o",
          "name": "Flashcards Supabase"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "964566848244969562",
          "mode": "list",
          "cachedResultName": "Test Server",
          "cachedResultUrl": "https://discord.com/channels/964566848244969562"
        },
        "sendTo": "user",
        "userId": {
          "__rl": true,
          "value": "625365817797902339",
          "mode": "list",
          "cachedResultName": "joshwilcox"
        },
        "content": "=There are {{ $('Aggregate1').item.json.data.length }} reports for you to review at https://flashcards.josh.software/admin_review_flashcards",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -288,
        -104
      ],
      "id": "58f3b154-5dd9-4cb4-bcbe-2f3b152002fd",
      "name": "Notify Josh about Reports",
      "webhookId": "4edb19f2-ec9a-4ac1-ba7f-e52eee0dadd4",
      "executeOnce": false,
      "credentials": {
        "discordBotApi": {
          "id": "ftj5O1avOlWWNIDL",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -512,
        -104
      ],
      "id": "eacecfc5-ac06-4dc2-910b-e0007f567716",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -512,
        -440
      ],
      "id": "a53610ba-3f24-4233-9da0-656b513aa6ca",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "questions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.question_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -288,
        -608
      ],
      "id": "c671012f-1bac-4f66-a5ed-0be72b402a1d",
      "name": "Get Related Question",
      "credentials": {
        "supabaseApi": {
          "id": "NhHQBrahxXIQ218o",
          "name": "Flashcards Supabase"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.Prompt }}",
        "categories": {
          "categories": [
            {
              "category": "accept",
              "description": "Assign this category if the distractor meets all of the criteria given in the system prompt"
            },
            {
              "category": "reject",
              "description": "Assign this category if the distractor does not meet the criteria given in the system prompt"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "ROLE\nYou are a Quality Assurance auditor for an academic flashcard system. You are the final gatekeeper, and your primary function is to be strict in order to accept or reject a proposed Distractor (incorrect answer choice) for a specific Question.\n\nCRITICAL DIRECTIVE\nYour main goal is to ensure the distractor is high-quality, deceptive yet fair, and stylistically consistent. If the distractor is obvious, gives away the answer, or creates a standalone fact independent of the question, it MUST be rejected. When in doubt, lean towards rejecting.\n\nDISTRACTOR CRITERIA\nYou must evaluate the distractor against the following non-negotiable rules:\n\nContext-Dependent & Ambiguous in Isolation: The text must be ambiguous, incomplete, or lack full meaning when read without the Question. It should only make sense as a response to that specific Question.\n\nNo Hints or Question Referencing: It must NOT contain words, phrases, or roots shared with the Question.\n\nPlausible but Definitely Incorrect: It must be a reasonable guess for a novice, but factually wrong. It cannot be an alternative correct answer.\n\nFormat & Style Consistency: Simple plaintext. No LaTeX. Length and complexity must match a standard short answer.\n\nUniqueness: It must be distinct from the intended correct answer (logic check).\n\nANALYSIS PROCESS\nContext Check (The Isolation Test): Read the distractor entirely on its own. If it looks like a complete, standalone fact or sentence (e.g., \"The sky is blue\"), REJECT it. It should be a fragment (e.g., \"Blue\") that requires the question to give it meaning.\n\nTerminology Check: Scan for repeated words between the Question and the Distractor. If the distractor repeats the subject or keywords of the question, REJECT it.\n\nAccuracy Check: Ensure the distractor is actually false based on your knowledge base. If it is arguably correct, REJECT it.\n\nMake a Final Decision: Based on your analysis, state your final decision: REJECT or ACCEPT.",
          "batching": {
            "batchSize": 5,
            "delayBetweenBatches": 65000
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        160,
        -608
      ],
      "id": "706b3536-beaf-4785-97e2-73984f2232c9",
      "name": "Accept / Reject Distractor",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28855032-fdeb-4a12-a60f-9fe9241500ca",
              "name": "Prompt",
              "value": "= ### New Flashcard: {{ JSON.stringify($('Get submitted flashcards').item) }}\n\n### Potential Duplicates: {{ JSON.stringify($json['Potential Duplicates']) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -1232
      ],
      "id": "f71ea485-8725-4850-a194-f9e6a0332f07",
      "name": "New Flashcard Prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28855032-fdeb-4a12-a60f-9fe9241500ca",
              "name": "Prompt",
              "value": "=### Submitted Distractor:\n\n{{ ($('Loop Over Items1').item.json.distractor_text) }}\n\n### Original Question\n{{ $('Get Related Question').item.json.question }}\n\n### Correct Answer (Distractor must be different to this)\n{{ $('Get Related Question').item.json.answer }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        -608
      ],
      "id": "28cb02b6-9bdb-47f1-9b4f-28ace052bbde",
      "name": "New Distractor Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://flashcards.josh.software/api/approve_distractor",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "submission_id",
              "value": "={{ $('Loop Over Items1').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        -560
      ],
      "id": "6e1fa37d-8a3c-48ea-9d27-3fb9a6fcba19",
      "name": "Accept Distractor",
      "credentials": {
        "httpBearerAuth": {
          "id": "jhXYYmYml3iu5xAW",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://flashcards.josh.software/api/reject_distractor",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "submission_id",
              "value": "={{ $('Loop Over Items1').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        -368
      ],
      "id": "400e6f09-9ff0-4f68-bfb2-5da044cf60ce",
      "name": "Reject Distractor",
      "credentials": {
        "httpBearerAuth": {
          "id": "jhXYYmYml3iu5xAW",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://flashcards.josh.software/api/pdfs/upload",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "module_name",
              "value": "={{ $('GetAllGeneratedTags').item.json.module_name }}"
            },
            {
              "name": "topic_names",
              "value": "={{ $('GetAllGeneratedTags').item.json.topic_names }}"
            },
            {
              "name": "subtopic_names",
              "value": "={{ $('GetAllGeneratedTags').item.json.subtopic_names }}"
            },
            {
              "name": "tag_names",
              "value": "={{ $('GetAllGeneratedTags').item.json.tag_names }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        -1544
      ],
      "id": "251690c8-695f-4a6e-b12e-de06a22f1079",
      "name": "Upload PDF",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "jhXYYmYml3iu5xAW",
          "name": "Bearer Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1088,
        -1544
      ],
      "id": "ad8a2b64-ff7b-4f3a-a757-5e34ff49ee0c",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "modules",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3584,
        -1304
      ],
      "id": "41b795f5-4afa-4fcf-8ecb-50be4826139a",
      "name": "Get many rows",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "NhHQBrahxXIQ218o",
          "name": "Flashcards Supabase"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Given the following Modules, strictly give the Name and the ID of the module that the below Github file Patch Content is assigned to. The output should match exactly the following (with no backticks or any other text, just the JSON content)\n<exampleStartsUnderHere>\n{\n\"module\": \"Artificial Intelligence\",\n\"moduleID\": 12\n}\n<exampleEndsAboveHere>\n\n{{ JSON.stringify($('Get many rows').all()) }}\n\nFile Name (Module should be in here)\n{{ $('IfEndsWithTex').item.json.filenames }}\n\nContent:\n{{ $json.patch }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -3136,
        -1232
      ],
      "id": "20fc385f-ac51-49fb-9263-edee3adf7cd1",
      "name": "Module Classifier",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3360,
        -1232
      ],
      "id": "a3f1e257-a344-4ff9-bb6c-a773ba332a14",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "edd3c24c-02e7-4449-afe3-75baa45f2754",
              "name": "System Prompt",
              "value": "=System Role: You are a specialized AI system for academic content extraction. Your sole purpose is to meticulously parse the provided Github Patch text (focus on additions) and convert it into a structured JSON array of flashcards. You must operate exclusively on the information given in the document. Ignore input that is purely LaTeX config.\n\nCore Directive: Your primary constraint is absolute fidelity to the source text. You MUST NOT infer information, add external knowledge, or generalize concepts beyond what is explicitly written in the provided notes. If a concept is mentioned but not explained, you will not create a flashcard for it.\n\nCritical Rules for Flashcard Generation\n\n    Source Adherence: Every question and answer must be directly and verifiably derived from the provided document. Do not create flashcards on topics you recognize if they aren't detailed in the text.\n\n    Distractor-Ready Answers: This is the most critical rule. The Answer field must be context-free and atomic. It should be a single word or a concise phrase that is only correct when paired with its specific Question. The answer should NEVER repeat parts of the question.\n\n        Correct Example:\n\n            Q: \"Which software development model is characterized by sequential phases where one phase must be completed before the next begins?\"\n\n            A: \"Waterfall Model\"\n\n        Incorrect Example:\n\n            Q: \"Which software development model is characterized by sequential phases?\"\n\n            A: \"The software development model characterized by sequential phases is the Waterfall Model.\"\n\n    Meaningful Questions: Questions should test understanding, processes, or comparisons, not just simple definitions. Frame questions using \"How,\" \"Why,\" \"What is the primary purpose of,\" or \"Compare and contrast.\"\n\n    Exhaustive Coverage: Systematically process the entire document from start to finish. Generate as many flashcards as needed to cover every key concept, process, algorithm, and significant detail presented. Err on the side of creating more flashcards rather than fewer.\n\n    No Duplication: Each flashcard must test a unique piece of information. Do not create multiple flashcards that are slight variations of the same core question.\n\n    Plain Text Only: The entire JSON output must be plain text. You MUST NOT use LaTeX, mathematical symbols that cannot be typed on a standard keyboard, or any markdown formatting.\n\nJSON Output Specification\n\nYour entire output must be a single, raw JSON array [...] containing flashcard objects. Do not wrap the JSON in markdown blocks (like ```json) - this is being passed to an API - not a user on a GUI, so it must be plaintext json without any markdown features surrounding the json like ```.\n\nEach object in the array must have the following keys:\n\n    \"Question\": (String) The question being asked. Must be clear, self-contained, and unambiguous.\n\n    \"Answer\": (String) The concise, context-free answer.\n\n    \"Module\": (String) Use the following data: {{ $('Module Classifier').item.json.output.parseJson().module }}\n\n \n    \"Topic\": (String)  See the list of topics for the module I have given you, if the question matches this topic, prioritize this, else create a new topic expressing The main topic the flashcard belongs. This topic should be VERY GENERAL, not quite as general as the module name, but quite general. So each input you are given should only really have a maximum of 3 topics - but can be less! Really think hard about the topic name.\n\n    \"Sub-Topic\": (String) A more specific concept within the topic (e.g., \"Higher-Order Functions,\" \"Scrum vs. Kanban\").\n\n    \"Tags\": (Array of Strings) A list of relevant keywords for easy searching (e.g., [\"recursion\", \"haskell\", \"immutability\"]). MINIMUM OF 3 TAGS REQUIRED\n\nInput: You will now receive the lecture notes. Process them according to all rules and provide only the raw JSON output.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2784,
        -1232
      ],
      "id": "53d8e699-82f8-4436-b326-b5c181d9a41c",
      "name": "System Prompt"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2112,
        -1232
      ],
      "id": "96ab446e-f00a-4757-8961-6dcd904115e6",
      "name": "Merge2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dllpooxjdafwmdwsaeob.supabase.co/rest/v1/rpc/get_topics_for_module",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "search_module_id",
              "value": "={{ $('Module Classifier').item.json.output.parseJson().moduleID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2560,
        -1160
      ],
      "id": "deca8edc-b9cd-44a8-841f-4a76a207d828",
      "name": "Get Topics for this Module",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "NhHQBrahxXIQ218o",
          "name": "Flashcards Supabase"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2336,
        -1160
      ],
      "id": "46041891-b490-4845-a918-0b621de27e1c",
      "name": "Module Topics"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-v4-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1880,
        -1008
      ],
      "id": "bda91cf4-8223-4740-b33d-6c7d32147c89",
      "name": "Powerful Model",
      "credentials": {
        "openRouterApi": {
          "id": "Ii7iGuZ3g18Jh9qa",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Github Trigger').item.json.body.repository.full_name }}/commits/{{ $('Github Trigger').item.json.body.head_commit.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4480,
        -1232
      ],
      "id": "06c8651b-7780-4e5c-ad13-1dfdb2512413",
      "name": "HTTP Request1",
      "credentials": {
        "githubApi": {
          "id": "mNhv3H6SbHRLz0uz",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1e6cd886-c305-4281-9a50-b339de77c613",
              "leftValue": "={{ $json.filename }}",
              "rightValue": "={{ $('IfEndsWithTex').item.json.filenames }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -4032,
        -1232
      ],
      "id": "6923a012-07cc-4a00-9479-7b70f23ad20a",
      "name": "Filter"
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -4256,
        -1232
      ],
      "id": "258da745-6f6d-4b9a-86df-a16bc315e555",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You will be provided with a single flashcard object containing a 'Question' and its correct 'Answer'. Your task is to generate EXACLTY four (4) incorrect distractor answers for this flashcard.\n\nThese distractors must strictly adhere to the following rules:\n\n• Context-Dependent & Ambiguous in Isolation: Each distractor, when read on its own (without the associated 'Question'), should be ambiguous, incomplete, or not make full sense. It should only appear as a plausible (though incorrect) response when considered as an answer to the original 'Question' from the provided flashcard.\n• No Hints or Question Referencing: Distractors must NOT contain any words, phrases, or concepts directly from the 'Question' that would give away the context or make the distractor obviously related to that specific question if seen in a list of other potential answers. The distractor should stand alone as a short phrase or term.\n• Plausible but Definitely Incorrect: Distractors should be designed to seem like reasonable potential answers to the original 'Question'. However, each distractor must be clearly and definitively incorrect as an answer to the original 'Question'.\n• Format & Style Consistency: Distractors must be in simple plaintext. Their style, length, and complexity should be similar to the provided correct 'Answer'. Avoid any special formatting, LaTeX, or complex mathematical notation.\n• Uniqueness: Each generated distractor should be unique from the correct 'Answer' and from the other distractors you generate for the same question-answer pair.\n• JSON Output, your output MUST strictly be a JSON list of strings with the distractors in them. Do not use markdown formatting or any backticks. You MUST ONLY return the JSON with no other surrounding text.\n\nThe Question:\n\n{{ $('Loop Over Items').item.json.submitted_question }}\n\nThe CORRECT Answer:\n\n{{ $('Loop Over Items').item.json.submitted_answer }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1088,
        -1304
      ],
      "id": "4ae4d037-622d-4a91-b3cc-a7af13423750",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://flashcards.josh.software/api/submit_distractors",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Similarity-Threshold",
              "value": "0.8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Setup Distractor Request Body').item.json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1664,
        -1160
      ],
      "id": "4343e763-37ff-454b-af74-bc255281034a",
      "name": "HTTP Request2",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "jhXYYmYml3iu5xAW",
          "name": "Bearer Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const parsedData = JSON.parse($json.output);\n\nreturn { \n  question_id: $('Accept Flashcard').item.json.question_id,\n  distractors: parsedData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        -1304
      ],
      "id": "2c9da7e9-b40e-4620-baaf-8ea7d8cdbb16",
      "name": "Setup Distractor Request Body"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "Joshua-Wilcox",
          "mode": "list",
          "cachedResultName": "Joshua-Wilcox",
          "cachedResultUrl": "https://github.com/Joshua-Wilcox"
        },
        "repository": {
          "__rl": true,
          "value": "university",
          "mode": "list",
          "cachedResultName": "university",
          "cachedResultUrl": "https://github.com/Joshua-Wilcox/university"
        },
        "filePath": "={{ $('Split Out').item.json.filenames }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -5152,
        -1232
      ],
      "id": "acf74e48-c657-4eb0-8828-232cd36e753d",
      "name": "Get a file1",
      "webhookId": "885acc43-f23f-4d5f-92bd-929a4b4e9393",
      "credentials": {
        "githubApi": {
          "id": "mNhv3H6SbHRLz0uz",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -4928,
        -1232
      ],
      "id": "a0027bc1-7080-47b4-bb7d-61ae4ca54b5b",
      "name": "text from github file"
    },
    {
      "parameters": {
        "modelSource": "inferenceProfile",
        "model": "global.anthropic.claude-haiku-4-5-20251001-v1:0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        -3136,
        -1008
      ],
      "id": "608b5ff5-397b-40b1-84c0-af72ea502d53",
      "name": "Haiku",
      "credentials": {
        "aws": {
          "id": "vtsoyIFxpNgKu4Fv",
          "name": "AWS (IAM) account"
        }
      }
    }
  ],
  "connections": {
    "Github Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crawl Schedule (Daily)": {
      "main": [
        [
          {
            "node": "Get Repo Tree (Recursive)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Repo Tree (Recursive)": {
      "main": [
        [
          {
            "node": "Split Tree Entries",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Uploaded PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Tree Entries": {
      "main": [
        [
          {
            "node": "Filter .tex Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter .tex Files": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Uploaded PDFs": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for Both": {
      "main": [
        [
          {
            "node": "Find .tex Without Uploaded PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find .tex Without Uploaded PDF": {
      "main": [
        [
          {
            "node": "Any Missing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Missing?": {
      "main": [
        [
          {
            "node": "IfEndsWithTex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Get submitted flashcards",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get submitted Distractors",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get submitted Distractors1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "IfEndsWithTex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get potential duplicates": {
      "main": [
        [
          {
            "node": "Strip Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Accept Flashcard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Flashcard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accept Flashcard": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reject Flashcard": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strip Duplicates": {
      "main": [
        [
          {
            "node": "New Flashcard Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get submitted Distractors",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get submitted flashcards",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get submitted Distractors1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetGithubPDF": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetAllGeneratedTags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfEndsWithTex": {
      "main": [
        [
          {
            "node": "Get a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetAllGeneratedTags": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Upload PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get submitted flashcards": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get potential duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get submitted Distractors": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get submitted Distractors1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Notify Josh about Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Get Related Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Related Question": {
      "main": [
        [
          {
            "node": "New Distractor Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accept / Reject Distractor": {
      "main": [
        [
          {
            "node": "Accept Distractor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Distractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Flashcard Prompt": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Distractor Prompt": {
      "main": [
        [
          {
            "node": "Accept / Reject Distractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accept Distractor": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reject Distractor": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload PDF": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "GetGithubPDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Module Classifier": {
      "main": [
        [
          {
            "node": "System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Module Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "System Prompt": {
      "main": [
        [
          {
            "node": "Get Topics for this Module",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Topics for this Module": {
      "main": [
        [
          {
            "node": "Module Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Module Topics": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Powerful Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Setup Distractor Request Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Distractor Request Body": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file1": {
      "main": [
        [
          {
            "node": "text from github file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text from github file": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Haiku": {
      "ai_languageModel": [
        [
          {
            "node": "Module Classifier",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Accept / Reject Distractor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad4c0e5eae1d86becd0835732c9c7c6dbf35228fe3f2e33e0eb1d5fe175a2249"
  }
}
